{% extends 'base.html' %} {% block main %} {% for post in posts %}

<a href="{{ url_for('post', id=post.get_id()) }}" class="link-underline link-underline-opacity-0">
<div class="container-fluid rounded-3 w-auto bg-dark m-5 p-3 text-center">
  <div class="row">
    <div class="col">
      <h3 class="text-center text-light fs-2">{{ post.get_titre() }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center text-light fs-3">{{ post.get_contenu() }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center text-light fs-3">{{ timeago.format(post.get_date(), datetime.datetime.now() + datetime.timedelta(seconds = 60 * 3.4), 'fr') }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center text-light fs-3">
        {{ UserDB.get_user_by_email(post.get_user_mail()).get_pseudo() }}
      </p>
    </div>
  </div>
</div>
</a>
{% endfor %} {% endblock %}
