{% extends 'base.html' %} {% block main %}
<div class="container-fluid rounded-3 w-auto m-5 p-3">
  <div class="container text-center"><a class="btn btn-primary" type="button" href="{{ url_for('creer_post') }}">Créer un post</a></div>
  {% for post in posts %}

  <a href="{{ url_for('post', id=post.get_id()) }}" style="text-decoration: none;">
  <div class="container-fluid rounded-3 w-auto bg-dark m-5 p-3">
    <div class="row">
      <div class="col">
        <h3 class="text-center text-light fs-2 text-left">{{ post.get_titre() }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-light fs-3 text-left">{{ post.get_contenu() }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-light fs-3 text-left">{{ timeago.format(post.get_date(), datetime.datetime.now() + datetime.timedelta(seconds = 60 * 3.4), 'fr') }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a
          class="btn btn-primary"
          type="button"
          href="{{
        url_for('supprimer_post', id=post.get_id()) }}"
          >Supprimer</a
        >
      </div>
    </div>
  </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
